@charset "UTF-8";
/* CSS Document */
body{
	width: 100%;
	margin: 0px;
	color: #504D50;
}
 
header{
	
}
h1{
	font-family: 'Great Vibes', cursive;
	text-align: center;
	color:#D89EAE;
	font-size: 3rem;
}
h2{
	font-family: 'Great Vibes', cursive;
	text-align: center;
	color: #D89EAE;
	font-size:2.2rem;
}
nav{
	background-color:#AB7B97;
	width: auto;
	
}
nav ul{
	list-style-type: none;
	text-align: center;
	padding: 2%;
}

nav ul li{
	display: inline;
	text-decoration: underline;
	color: #EFEFEF;
	padding: 3%;
	font-size: 1.75rem;
}
img{
	width:100% ;
	align-content: center;
	margin: 0px;
}
section{
	padding: 3%;
}
p{
	text-align: center;
	margin-left: 2px;
	margin-right: 3px;
	font-size: 1.5rem;
}

 figure img{
	width: 85%;
    margin: 3%;
	
}

figcaption{

	font-family: 'Niconne', cursive;
	text-align: center;
	color: #D89EAE;
	font-size: 2rem;
}
footer{
	background-color:#AB7B97;
	padding: 2px;
	
}
footer ul{
	list-style-type:upper-roman;
}
footer ul li{
	display:inline; 
}

/*@media (max-width: 1000px) and (min-width: 726px)

phones:320-767
tablets: 768-1023
desktop: 1024+ */

/* tablets*/
@media (min-width: 768px) and (max-width:1023px){
	
	nav ul li{
		font-size:1.2rem;
	}
}

/*Desktop*/

@media (min-width:1024px){
	h1{
		font-size: 4rem;
		padding: 0;
		margin: 0;
	}
	h2{
		font-size: 2rem;
	}
	nav ul{
		padding:1.2%;
		
	}
	nav ul li{
		font-size:1.2rem;
		padding: 1%;
	}
	img{
		max-width: 80%;
	    margin-left: 10%;
		margin-right: 10%;
		margin-top: -1%;
	}
	p{
		font-size: 1.1rem;
	}
	.thumbnail{
		width: 33%;
		float: left;
		
	
	}
	.cards{
		max-width: 100%;
		padding-left:10%;
		padding-right: 10%;
		padding-bottom: 5%;
          
		
	}
	figcaption{
		margin: 0;
		padding-bottom: 5%;
	}
	footer{
		clear:both;
		text-align: center;
		
	}
}


