@charset "UTF-8";
/* CSS Document */
body{
	width: 100%;
	margin: 0px;
	color: #504D50;
}
 
header{
	
}
h1{
	font-family: 'Niconne', cursive;
	text-align: center;
	color: #C679AA;
}
h2{
	font-family: 'Niconne', cursive;
	text-align: center;
	color: #C679AA;
}
nav{
	background-color:#A36991;
	width: auto;
	padding: .5px;
}
img{
	max-width: 500px;
	
}
section p{
	text-align: center;
	padding:5px;
	margin-left: 2px;
	margin-right: 3px;
}

figure img{
	max-width: 320px;
	display: inline-block;
	margin-left:15px;
}
nav ul il{
    text-align: center;
	text-decoration: underline;
	color: #EFEFEF;
	padding: 5px;
	margin-left: 70px;
	text-size: 1rem;
}
figure figcaption{

	font-family: 'Niconne', cursive;
	text-align: center;
	color: #C679AA;
	font-size: 20px;
}
footer{
	background-color:#A36991;
	padding: 2px;
}
/*@media (max-width: 1000px) and (min-width: 726px)

phones:320-767
tablets: 768-1023
desktop: 1024+ */

/* tablets*/
@media (min-width: 768px) and (max-width:1023px){
	
	nav ul li{
		font-size:1.2rem;
	}
}

/*Desktop*/

@media (min-width:1024px){
	h1{
		font-size: 4rem;
		padding: 0;
		margin: 0;
	}
	h2{
		font-size: 2rem;
	}
	nav ul{
		padding:1.2%;
		
	}
	nav ul li{
		font-size:1.2rem;
		padding: 1%;
	}
	img{
		max-width: 80%;
	    margin-left: 10%;
		margin-right: 10%;
		margin-top: -1%;
	}
	p{
		font-size: 1.1rem;
	}
	.thumbnail{
		width: 33%;
		float: left;
		
	
	}
	.cards{
		max-width: 100%;
		padding-left:10%;
		padding-right: 10%;
		padding-bottom: 5%;
          
		
	}
	figcaption{
		margin: 0;
		padding-bottom: 5%;
	}
	footer{
		clear:both;
		text-align: center;
		
	}
}


